<ion-content >
  <div class="headerTop">
    <ion-icon class="iconHome" name="home" routerLink="/tabs/home" color="secondary ml-4 mt-4"></ion-icon>
    <img src="../../../assets/image/Logo MONEY SA 1.png" class="positionLogo" alt="">

    
      <ion-text class="labelPrint1" (click)="this.clickTransactions"><ion-icon name="sync-outline"></ion-icon>Mes Transactions</ion-text>
      <span *ngIf="this.tabTransactions" class="barBottomLab1"></span>
    
      <ion-text class="text-center labelPrint2" (click)="this.clickAllTransactions"><ion-icon name="sync-circle-outline"></ion-icon>Toutes les Transactions</ion-text>
      <span *ngIf="this.tabAllTransactions" class="barBottomLab2"></span>
 

</div>
  
</ion-content>
