<ion-content >
  <div class="headerTop">
    <ion-icon class="iconHome" name="home" routerLink="/tabs/home" color="secondary ml-4 mt-4"></ion-icon>
    <img src="../../../assets/image/Logo MONEY SA 1.png" class="positionLogo" alt="">

    <div class="text-center labelPrint1">
      <ion-text><ion-icon name="sync-outline"></ion-icon>Mes Transactions</ion-text>
      <!-- <span *ngIf="this.seeEmetteur" class="barEmetteur"></span> -->
    </div>
    <div class="text-center labelPrint2">
      <ion-text><ion-icon name="sync-circle-outline"></ion-icon>Toutes les Transactions</ion-text>
      <!-- <span *ngIf="this.seeBeneficiaire" class="barBenef"></span> -->
  </div>
    <div class="row labelPrint">
      
     
    </div>
    <span class="barBottom"></span>
  </div>
  
</ion-content>
