<ion-content>
  <div class="h-100">
    <div class="headerTop">
      <ion-icon class="iconHome" name="home" routerLink="/tabs/home" color="secondary ml-4 mt-4"></ion-icon>
      <img src="../../../assets/image/Logo MONEY SA 1.png" class="positionLogo" alt="">
      <p class="labelPrint">
        <ion-icon color="primary" name="layers-outline"></ion-icon>Mes commissions
      </p>
      <span class="barBottom"></span>
    </div>
  
    <div *ngIf="userConnected">
      <ion-row class="textSize">
        <ion-col size="2">Date</ion-col>
        <ion-col size="2">Type</ion-col>
        <ion-col size="3">Montant</ion-col>
      </ion-row>
      <div *ngFor="let transaction of this.allTransaction">
        <div *ngIf="transaction.compteRetrait && (transaction.compteTransaction.id == this.userConnected.agence.id && transaction.compteRetrait.id == this.userConnected.agence.id)">
          <ion-row class="textSize">
            <ion-col size="2">{{transaction.date_depot|date: 'dd/MM/yy'}}</ion-col>
            <ion-col size="2">Depot</ion-col>
            <ion-col size="3">{{transaction.fraisDepot}}</ion-col>
          </ion-row>
          <ion-row class="textSize">
            <ion-col size="2">{{transaction.date_depot|date: 'dd/MM/yy'}}</ion-col>
            <ion-col size="2">Retrait</ion-col>
            <ion-col size="2">{{transaction.fraisRetrait}}</ion-col>
          </ion-row>
        </div>
        <div *ngIf="transaction.compteRetrait && (transaction.compteTransaction.id != this.userConnected.agence.id && transaction.compteRetrait.id == this.userConnected.agence.id)">
          <ion-row class="textSize">
            <ion-col size="2">{{transaction.date_depot|date: 'dd/MM/yy'}}</ion-col>
            <ion-col size="2">Retrait</ion-col>
            <ion-col size="2">{{transaction.fraisRetrait}}</ion-col>
          </ion-row>
        </div>
        <div *ngIf="transaction.compteRetrait && (transaction.compteTransaction.id == this.userConnected.agence.id && transaction.compteRetrait.id != this.userConnected.agence.id)">
          <ion-row class="textSize">
            <ion-col size="2">{{transaction.date_depot|date: 'dd/MM/yy'}}</ion-col>
            <ion-col size="2">Depot</ion-col>
            <ion-col size="3">{{transaction.fraisDepot}}</ion-col>
          </ion-row>
        </div>
        <div *ngIf="!transaction.compteRetrait && (transaction.compteTransaction.id == this.userConnected.agence.id)">
          <ion-row class="textSize">
            <ion-col size="2">{{transaction.date_depot|date: 'dd/MM/yy'}}</ion-col>
            <ion-col size="2">Depot</ion-col>
            <ion-col size="3">{{transaction.fraisDepot}}</ion-col>
          </ion-row>
        </div>

      </div>
      
    </div>
    
  </div>

  
</ion-content>