ion-content {
    --ion-background-color: #f2f2f2;
  }
  .headerTop {
    height: 25vh;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10%;
    background-color: white;
  
    .labelPrint1 {
      position: absolute;
      width: 50%;
      left: 25%;
      right: 25%;
      top: 22%;
      color: blueviolet;
      font-size: 0.9rem;
      &.only {
        left: 30%;
      }
    }
  
    .barBottomLab1 {
      position: absolute;
      width: 50%;
      left: 25%;
      right: 25%;
      top: 24.5%;
      height: 3px;
      background: #07aeef;
      box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
      border-radius: 40px;
      &.only {
        left: 30%;
      }
    }
  
    .positionLogo {
      position: absolute;
      width: 20%;
      right: 40%;
      left: 40%;
      height: 55px;
      top: 3%;
    }
    .iconHome {
      position: absolute;
      width: 5%;
      left: 4%;
      top: 2%;
    }
  }
 