.monBody {
  height: 100vh;
  background-color: #f2f2f2;
}

.ourLogo {
  height: 40vh;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;

  .positionImg {
    position: absolute;
    top: 10%;
    left: 38%;
    right: 38%;
    width: 24%;
    height: 200px;
  }

  .login {
    position: absolute;
    top: 36%;
    left: 45%;
    right: 45%;
    width: 10%;
  }

  .bar {
    position: absolute;
    top: 39.5%;
    left: 40%;
    right: 40%;
    width: 20%;
    height: 3px;
    background: #07aeef;
    box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
    border-radius: 40px;
  }
}
