ion-content {
    --ion-background-color:#f2f2f2;
}
.headerTop {
  height: 25vh;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10%;
  background-color: white;

  .labelPrint {
    position: absolute;
    width: 20%;
    left: 40%;
    right: 40%;
    top: 20%;
    color: blueviolet;
  }

  .barBottom {
    position: absolute;
    width: 36%;
    left: 32%;
    right: 32%;
    top: 24.5%;
    height: 3px;
    background: #07AEEF;
    box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
    border-radius: 40px;
  }

  .positionLogo {
      position: absolute;
      width: 20%;
      right: 40%;
      left: 40%;
      height: 55px;
      top: 3%;
  }
  .iconHome {
      position: absolute;
      width: 5%;
      left: 4%;
      top: 2%;
  }
}

.formTransaction {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menuDepot {
  height: 7vh;
  .barEmetteur {
      position: absolute;
      width: 50%;
      left: 28%;
      top: 92%;
      height: 3px;
      background: red;
  }
  .barBenef {
    position: absolute;
    width: 50%;
    right: 25%;
    top: 92%;
    height: 3px;
    background: red;
    }
}
