
.header {
    height: 5vh;
}
.w-100 {
    background-color: #EDEDED;
}
.formDiv {
    height: 80vh;
}
.mainAlert {
    border-radius: 20px;
    
}
.iconButton {
    width: 35px;
    height: 30px;
}
.essai {
    background-color: orangered;
}