
.header {
    height: 5vh;
}
.w-100 {
    background-color: #EDEDED;
}
.formDiv {
    height: 60vh;
}
.mainAlert {
    border-radius: 10px;
    box-shadow: 5px 5px ;
    
}
.popover-content {

    top: 129.805px;
    left: 70px;
    transform-origin: left top;
    width: 71%;
  }