
.header {
    height: 5vh;
}
.w-100 {
    background-color: #EDEDED;
}
.formDiv {
    height: 60vh;
}
.mainAlert {
    border-radius: 10px;
    box-shadow: 5px 5px ;
    
}
.popover-viewport {
    --max-width: 71%;
}