.solde {
    height: 35vh;
    .soldeCompte {
        .small1 {
            font-size: small;
            position: absolute;
            left: 3%;
            top: -6px;
            font-size: 9px;
        }
        .small2 {
            font-size: 9px;
            text-size-adjust: 10px;
            position: absolute;
            left: 3%;
            top: 0%;
        }
        .small3 {
            font-size: small;
            position: absolute;
            left: 65%;
            top: 30%;
            font-size: 9px;
        }
        .montant {
            position: absolute;
            font-weight: normal;
            font-size: 40px;
            /* identical to box height */
            color: #07AEEF;
        }
        background-color: white;
        width: 80%;
        left: 10%;
        right: 10%;
        top: 18%;
        height: 70px;
        border-radius: 10%;
        position: absolute;
    }
}