.solde {
    height: 35vh;
    .soldeCompte {
        .small1 {
            font-size: small;
            position: absolute;
            left: 4.5%;
            top: -4%;
        }
        .small2 {
            font-size: small;
            position: absolute;
            left: 10%;
            right: 10%;
            top: 10%;
        }
        .small3 {
            font-size: small;
            position: absolute;
            left: 10%;
            right: 10%;
            top: 10%;
        }
        .montant {
            // width: 145px;
            // height: 46px;
            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            /* identical to box height */
            color: #07AEEF;
        }
        background-color: white;
        width: 80%;
        left: 10%;
        right: 10%;
        top: 18%;
        height: 80px;
        border-radius: 10%;
        position: absolute;
    }
}